<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="NewRelicLogsAppender" type="Log4net.Appender.NewRelicLogs.NewRelicLogsAppender, Log4net.Appender.NewRelicLogs">
      <bufferSize value="10" />
      <ingestionUrl value="https://log-api.newrelic.com/log/v1" />
      <licenceKey value="#{licenseKey}" />
      <excludeLog4NetProperties value="true" />
      <threshold value="Debug"/>
      <evaluator type="Log4net.Appender.NewRelicLogs.TimeAndLevelEvaluator, Log4net.Appender.NewRelicLogs">
        <threshold value="Error"/>
        <interval value="10" />
      </evaluator>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="NewRelicLogsAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="NewRelic.AgentEnabled" value="true" />
    <add key="NewRelic.AppName" value="Log4net.Appender.NewRelicLogs.Sample" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
</configuration>